#btn1 {
  position: absolute;
  top: 52%;
  left: 90%;
}

#btn2 {
  position: absolute;
  top: 30%;
  left: 30%;
}

#btn3 {
  position: absolute;
  top: 80%;
  left: 10%;
}

#btn4 {
  position: absolute;
  top: 50%;
  left: 50%;
}

#btn5 {
  position: absolute;
  top: 90%;
  left: 80%;
}

#btn6 {
  position: absolute;
  top: 29%;
  left: 72%;
}

#btn7 {
  position: absolute;
  top: 60%;
  left: 60%;
}

#btn8 {
  position: absolute;
  top: 33%;
  left: 18%;
}

#btn9 {
  position: absolute;
  top: 88%;
  left: 44%;
}

#btn10 {
  position: absolute;
  top: 48%;
  left: 31%;
}

#btn11 {
  position: absolute;
  top: 49%;
  left: 75%;
}

#btn12 {
  position: absolute;
  top: 90%;
  left: 59%;
}

#btn13 {
  position: absolute;
  top: 37%;
  left: 60%;
}

#btn14 {
  position: absolute;
  top: 53%;
  left: 13%;
}

#btn15 {
  position: absolute;
  top: 70%;
  left: 38%;
}

#btn16 {
  position: absolute;
  top: 74%;
  left: 26%;
}

#btn17 {
  position: absolute;
  top: 74%;
  left: 82%;
}

#btn18 {
  position: absolute;
  top: 26%;
  left: 83%;
}

#btn19 {
  position: absolute;
  top: 30%;
  left: 46%;
}

#btn20 {
  position: absolute;
  top: 36%;
  left: 8%;
}

